server:
  port: 8088

spring:
  application:
    name: api-gateway
  cloud:
    consul:
      enabled: false
      discovery:
        enabled: false
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/auth/**
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/users/**, /api/admin/users/**
        - id: event-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/events/**, /api/admin/events/**, /api/venues/**, /api/admin/venues/**, /api/shows/**
        - id: booking-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/bookings/**, /api/seats/**
        - id: payment-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/payments/**
        - id: notification-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/notifications/**
        - id: review-service
          uri: http://localhost:8087
          predicates:
            - Path=/api/reviews/**, /api/admin/reviews/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
